.image-preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-preview-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 800px; /* Измените значение, если хотите другую ширину */
    width: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.close-icon {
    font-size: 20px;
    color: #000;
}

.close-icon:hover {
    color: #f00;
}

.add-button {
    margin-top: 15px;
}