.body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Устанавливаем высоту контейнера на всю высоту видимого окна */
}

.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ограничение максимальной ширины контейнера */
}

h2 {
    color: #007bff;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}

.row {
    margin-top: 20px;
}

.img-fluid {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    max-height: 400px; /* Дополнительно установите максимальную высоту для изображений */
}